.topCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-weight: 600;
}

.h3Card {
  font-size: 1rem;
}

.cardText {
  font-size: 2.5rem;
  font-weight: 600;
}
.over-flow {
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  text-overflow: ellipsis;
}
.title-card {
  color: #9a9a9a !important;
  font-weight: 300;
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .over-flow {
    max-width: 250px;
  }
}
