.leaflet-container {
  width: 100%;
  height: 50vh;
}
.p-map {
  font-size: 1rem;
  color: rgb(21, 27, 27);
}

@media only screen and (max-width: 600px) {
  .card-country {
    max-height: 360px;
  }
}

.leaflet-popup-content-wrapper {
  background: #27293d !important;
}
