.leaflet-container {
  width: 100%;
  height: 70vh;
}
.p-map {
  font-size: 1rem;
  color: rgb(21, 27, 27);
  margin: 0 !important;
  padding-top: 10px !important;
}
.card-country-text {
  padding-top: 10px !important;
}
@media only screen and (max-width: 600px) {
  .card-country {
    max-height: 260px;
  }
}
.card-map-text {
  padding: 0 10px 10px 10px;
}
.card-map {
  padding: 10 !important;
}
.leaflet-popup-content {
  padding: 0 !important;
  margin: 0 !important;
}
.leaflet-popup-content-wrapper {
  background: #27293d !important;
  padding: 0 !important;
}
.leaflet-popup-close-button {
  color: black !important;
  font-size: 1.5rem !important;
  padding-right: 25px !important;
}
