.modal-comleted {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.rbt {
  width: 100%;
}
.modal-content {
  flex-direction: row !important;
}
.rbt-menu {
  width: 1000px !important;
  max-height: 150px !important;
}
.links-div {
  display: flex;
}
.d-lg-none {
  text-transform: capitalize !important;
}

@media only screen and (max-width: 600px) {
  .modal-content {
    bottom: 20px !important;
  }
  .nav {
    display: flex !important;
  }
  .d-lg-none {
    padding-right: 10px !important;
  }
  .container-fluid {
    padding: 0 !important;
  }
}
.MuiSvgIcon-root {
  margin-left: 10px !important;
}
a {
  display: flex !important ;
}
.MuiSvgIcon-fontSizeLarge {
  margin: 0 !important;
}
